- name: docker-license-setup
  hosts: localhost
  connection: local
  tasks:
    - name: debian
      when: ansible_distribution == "Debian" or ansible_distribution == "MacOSX" or ansible_distribution == "Archlinux"
      ansible.builtin.script:
        cmd: license-setup/docker-license-setup.sh