<!DOCTYPE html>
<html lang="en">
<head>
    <title>Reset password</title>
    <meta charset="UTF-8">
    <style type="text/css">
        body {
            font-family: Arial, sans-serif;
        }

        .container {
            width: 100%;
            padding: 20px;
            background-color: #f4f4f4;
            text-align: center;
        }

        .content {
            background-color: #ffffff;
            padding: 20px;
            border-radius: 8px;
            display: inline-block;
        }

        .btn {
            display: inline-block;
            padding: 10px 20px;
            margin: 20px 0;
            font-size: 16px;
            color: #ffffff;
            background-color: #007bff;
            text-decoration: none;
            border-radius: 5px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="content">
        <h1>Reset password</h1>
        <p>Hello,<br/>
            You have requested to reset your password. Click the button below to do that.</p>
        <a href="{{ compolvo_url }}/password-reset?reset_token={{ token }}"
           class="btn">Reset password</a>
        This link expires in 1 hour. After that, you need to request a new reset email.
    </div>
</div>
</body>
</html>
