.form-card {
  border: none !important;
  border-radius: 10px !important;
  padding: 10px !important;
  max-width: 400px !important;
  width: 40% !important;
  min-width: 200px !important;
  margin: 50px auto !important;
}

.vert-input-field {
  margin-bottom: 12px !important;
}

.horiz-input-field {
  margin: 0 10px !important;
}

.card-container {
  width: 100% !important;
  height: 100% !important;
}

.link {
  color: #0d5aa7 !important;
  text-decoration: none !important;
}

.link:hover {
  color: #1f69c0 !important;
}