.link {
    color: rgb(var(--v-theme-link)) !important;
    text-decoration: none !important;
}

.link:hover {
    color: rgb(var(--v-theme-on-link)) !important;
}

html {
    background-color: rgb(var(--v-theme-background));
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100%;
}
